<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Image Resizer</title>
  </head>
  <body>
      <h3>Change image size to 300 x 300</h3>
      <p>Image Upload</p>
      <form method="post" action="/post" enctype="multipart/form-data">
        <input type="file" name="image" /><br /><br />
        <button type="submit" name="upload">Upload</button>
      </form>
  </body>
</html>